h1{
    color: rgb(68, 0, 255);
}
img{
    width: 400px;
    border-radius: 30px;
}
#thirdDiv{
    width: 500px;
    height: 600px;
    background-color: aqua;
    padding: 50px;
    border: 5px solid blue;
    border-radius: 30px;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}